<footer>

    <hr>
     <div class="container text-center">
        <address>
            <p>Games GG - Videojuegos al mejor precio</p>
            <p>
                México, 55280 - Estado de México
            </p>
            <p>
                Contactanos en nuestras redes sociales
                y correoelectrónico:  contactogg@gmamesgg.com
            </p> 
            <p>     
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contacta con GG</a> 
                
            </p>
        </address>

        <ul class="social nav justify-content-center">
            <li>
                <a href="https://youtube.com/gamesgg" target="_blank">
                    <img src="../../../../../assets/icon/youtube.png" alt="gamesggTube">
                </a>
            </li>
            <li>
                <a  href="https://facebook.com/gamesgg" target="_blank">
                    <img src="../../../../../assets/icon/facebook.png" alt="gamesggFace">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/gamesgg" target="_blank">
                    <img src="../../../../../assets/icon/twiter.png" alt="gamesggTube">
                </a>
            </li>
        </ul>
     </div>
</footer>

